.signup-header{
    font-family: "Hind Siliguri", sans-serif;
    color: #26235d;
    margin-top: 3rem;
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
}
input{
    display: block;
    border-radius: 5px;
    padding: 14px;
    width: 75%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    border:1px solid  #26235d;
}
input::placeholder{
    font-family: "Hind Siliguri", sans-serif;
color: #26235d;
}