.card-title {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 22px !important;
  font-weight: 700 !important;
  color: rgb(231, 117, 117);
}
.product-img {
  width: 80px;
  height: 120px;
  object-fit: cover;
 
  margin-left: 4.5rem;
  margin-top: 1rem;
}
.product-desc {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 17px !important;
  font-weight: 500;
 
  color: #26235d;
}
.style-card {
  border: none !important;
  cursor: pointer;
  box-shadow: 2px 7px 14px 0px rgba(122, 107, 107, 0.75);
  -webkit-box-shadow: 2px 7px 14px 0px rgba(122, 107, 107, 0.75);
  -moz-box-shadow: 2px 7px 14px 0px rgba(122, 107, 107, 0.75);
}

.btn-style {
  background-color: pink !important;
  padding: 5px 10px;
}
.price-style {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 15px !important;
  color: #26235d;
  font-weight: 500;
  padding: 0px 10px;
  margin-top: 1px;
}

.cart-icon{
  color: rgb(231, 117, 117);;
  width: 30px;
  height: 30px;
  font-weight: 800;
}

.wishlist{
  color: rgb(231, 117, 117);;
  width: 30px;
  height: 30px;
  font-weight: 800;
  margin-left: 0.5rem;
}